 <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Add Menu Group
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">System</a></li>
        <li><a ui-sref="menu_groups">Menu Group List</a></li>
        <li class="active">Add</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddMenuGroup" role="form" ng-submit="AddMenuGroup()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" style="width: 300px;" ng-maxlength="256" required class="form-control" name="name" ng-change="GetSeoTitle()" ng-model="menuGroup.Name">
                        <span ng-show="frmAddMenuGroup.name.$invalid" class="has-error"> must be enter name</span>
                        <span ng-show="frmAddMenuGroup.name.$error.maxlength" class="has-error"> Field should be 256 characters.</span>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Parent</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="menuGroup.ParentId" name="ParentId" theme="bootstrap" style="width: 300px;" title="Choose a Parent">
                            <ui-select-match placeholder="choose a Parent">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item.ID as item in menuGroupParents | filter: $select.search">
                                <span ng-bind-html="item.Name | highlight: $select.search"></span>
                                <!--<small ng-bind-html="item.Name | highlight: $select.search"></small>-->
                            </ui-select-choices>
                        </ui-select>

                        <span ng-show="frmAddMenuGroup.ParentId.$invalid" class="has-error"> must be choose Parent</span>
                        <input type="hidden" name="ParentId" ng-model="menuGroup.ParentId" />
                    </div>
                </div>  
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="menu_groups" class="btn btn-default">Cancel</button>
                <button type="submit" ng-disabled="frmAddMenuGroup.$invalid" class="btn btn-success pull-right">Save</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->