<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <clear/>
    <add name="TeduShopConnection" connectionString="Data Source=NET-SONTRINH;Initial Catalog=TeduShop;User ID=sa;Password=abcd@1234;Integrated Security=False" providerName="System.Data.SqlClient" />
    <!--<add name="TeduShopConnection"  connectionString="Data Source=TPSON\SQLEXPRESS;Initial Catalog=TeduShop;User ID=st;Password=oldmonkey1505;Integrated Security=False" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>